.new-post {
    padding: 16px 0;

}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts,.post {
    padding-left: 10px;
    background: #828d85;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px;
    box-shadow: 0px 0px 10px 3px gold;
    text-shadow: none;
    position: inherit;

}
.posts, .info {
    color: #aaa;
    font-style: italic;
}
.success,
.error{
    text-align: center;
}
.error {
    border: 1px solid red;
    background-color: #ff9682;
    color: red;
}
.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.success {
    border: 1px solid green;
    background-color: #c8ff00;
    color: green;
}
html, body{

}
body{
    color: #217b38;
    background-size: 100%;
    background: linear-gradient(#262626, black 30%) no-repeat fixed;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50px 50px;
}
.blocLog{
    margin-top: 140px;

}
.blocLog2{

    margin-left: auto;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
    background: rgba(78,115,122,0.0);
    border: solid 4px #233453;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 10px rgba(78,115,166,0.5);
}
.blocLog_center{

    transform: translate(20%, 10%);
}
.blocLog_center2{
    position: absolute;
    transform: translate(1400px, -88%);
}
.blocChat{
    text-shadow: none;
    padding-right: 100px;
    padding-left: 10px;
    background: rgba(176,207,184,0.37);
    border-radius: 10px;
}
.blocChat_fon{
    padding-top: 10px;
    background-color: rgba(0,83,255,0.2);
}



.btnn{
    background:radial-gradient(circle, #2a88bd 2%, rgba(18,88,186,0.57) 68%);
    border-radius: 30%;
    font-size: 60px;
    border: 30px;
    color: rgba(217,216,224,0.89);



}
.text_up{
    color: #000;
}
.movi{
    margin-top: 61px;
    margin-bottom: 70px;
    overflow: hidden;
    width: 960px;
    height: 499px;
    padding-left: 0px;
    z-index: 3;
    border-radius: 25px;
    position: relative;
    border: solid 6px #1f72a1;
    box-shadow: 0px 0px 59px 0px #1f72a1;
    animation-name: movi_color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
@keyframes movi_color {
    10%{
        box-shadow: 0px 0px 59px 0px #3811a1;
        border: solid 6px #3811a1;
    }
    20%{
        box-shadow: 0px 0px 59px 0px #239aa1;
        border: solid 6px #239aa1;
    }
    30%{box-shadow: 0px 0px 59px 0px #09a10e;
        border: solid 6px #09a10e;
    }
    40%{box-shadow: 0px 0px 59px 0px #4b4a3d;
        border: solid 6px #4b4a3d;
    }
    50%{box-shadow: 0px 0px 59px 0px #e1db00;
        border: solid 6px #e1db00;
    }
    60%{box-shadow: 0px 0px 59px 0px #e10019;
        border: solid 6px #e10019;
    }
    70%{box-shadow: 0px 0px 59px 0px #6f0013;
        border: solid 6px #6f0013;
    }
    80%{box-shadow: 0px 0px 59px 0px #900097;
        border: solid 6px #900097;
    }
    90%{box-shadow: 0px 0px 59px 0px #929297;
        border: solid 6px #929297;
    }
    100%{box-shadow: 0px 0px 59px 0px #2d302e;
        border: solid 6px #2d302e;
    }
}
.imgs{
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    height: 614px;
    z-index: 2;
    width: auto;
    right: -834px;
    top: 3px;

}
.line{
    background-color: brown;    
    padding: 1px;
    box-shadow: 0px 0px 10px 3px #233453;
    margin-top: 20px;
}
.line2{
    background-color: #868a8d;
    padding-top: 1px;
    padding-left: 100%;
    box-shadow: 0px 0px 10px 3px #233453;
    margin-top: 20px;
}


