.new-post {
    padding: 16px 0;

}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts,.post {
    padding-left: 10px;
    background: #828d85;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px;
    box-shadow: 0px 0px 10px 3px gold;
    text-shadow: none;
    position: inherit;

}
.posts, .info {
    color: #aaa;
    font-style: italic;
}
.success,
.error{
    text-align: center;
}
.error {
    z-index: 4;
    border: 1px solid #000000;
    background-color: #484443;
    color: red;
    box-shadow: 0px 3px 9px 2px white;
    animation-name: error;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 900ms;
}
.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.success {
    border: 1px solid green;
    background-color: #c8ff00;
    color: green;
}

body{
    color: #007bff;
    background-size: 100%;
    background: linear-gradient(#262626, black 30%) no-repeat fixed;
}

section{
    display: flex;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50px 50px;
}
.blocLog{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

}
.blocLog2{
    box-sizing: content-box;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0,83,255,0.1);
    border: solid 4px rgba(0,83,255,0.1);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 4px 1px cornflowerblue;
}
.blocLog_center{

    transform: translate(20%, 10%);
}
.blocLog_center2{
    position: absolute;
    transform: translate(1400px, -88%);
}
.blocChat{
    margin: 8px;
    text-shadow: none;
    padding-left: 10px;
    background: rgba(176,207,184,0.37);
    border-radius: 10px;
}
.blockForm{
    width: 100%;
    padding: 10px;
}
.blocAccount{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(2, 46, 131, 0.3);
    margin-bottom: 10px;
}

.blockInline{
    display: inline-block;
}

.btnn{
    background:radial-gradient(circle, #2a88bd 2%, rgba(18,88,186,0.57) 68%);
    border-radius: 30%;
    font-size: 60px;
    border: 30px;
    color: rgba(217,216,224,0.89);



}
.text_up{
    color: #000;
}
.movi{
    margin-top: 25px;
    margin-bottom: 30px;
    overflow: hidden;
    height: 0;
    padding-bottom: 50.25%;
    padding-top: 25px;
    z-index: 3;
    border-radius: 25px;
    position: relative;
    border: solid 2px #1f72a1;
    box-shadow: 0px 0px 59px 0px #1f72a1;
    animation-name: movi_color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }
.movi iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
}
@keyframes movi_color {
    10%{
        box-shadow: 0px 0px 59px 0px #3811a1;
        border: solid 2px #3811a1;
    }
    20%{
        box-shadow: 0px 0px 59px 0px #239aa1;
        border: solid 2px #239aa1;
    }
    30%{box-shadow: 0px 0px 59px 0px #09a10e;
        border: solid 2px #09a10e;
    }
    40%{box-shadow: 0px 0px 59px 0px #4b4a3d;
        border: solid 2px #4b4a3d;
    }
    50%{box-shadow: 0px 0px 59px 0px #e1db00;
        border: solid 2px #e1db00;
    }
    60%{box-shadow: 0px 0px 59px 0px #e10019;
        border: solid 2px #e10019;
    }
    70%{box-shadow: 0px 0px 59px 0px #6f0013;
        border: solid 2px #6f0013;
    }
    80%{box-shadow: 0px 0px 59px 0px #900097;
        border: solid 2px #900097;
    }
    90%{box-shadow: 0px 0px 59px 0px #929297;
        border: solid 2px #929297;
    }
    100%{box-shadow: 0px 0px 59px 0px #2d302e;
        border: solid 2px #2d302e;
    }
}
.imgs{
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    height: 614px;
    z-index: 2;
    width: auto;
    right: -834px;
    top: 3px;
}
.img_user{
    border: 3px solid #7f7f84;
    border-radius: 7px;
    height: 300px;
    width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    overflow: hidden;
    vertical-align: middle;
    padding: 27px;
}
.img_user::before{
    content: "";
    display: block;
    padding-bottom: 50%;
}
.line{
    background-color: brown;    
    padding: 1px;
    box-shadow: 0px 0px 10px 3px #233453;
    margin-top: 20px;
}
.line2{
    background-color: #868a8d;
    padding-top: 1px;
    box-shadow: 0px 0px 10px 3px #233453;
    margin-top: 20px;
}

.container_cont{
    padding-top: 10px;
    padding-left: 9%;
    width: 80%;
    float: left;
    margin-top: 35px;
}
.container_news{
    width: 20%;
    float: right;
    background-color: rgba(0,83,255,0.2);
}
.container_channel{
    margin: 20px;
    display: inline-block;
    height: 350px;
    width: 350px;
    min-height: 100px;
    min-width: 100px;
    background-color: #2d302e;
    border: 0 solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #8f9aa1, inset 0px 0px 9px 2px #979da1;
}

.container_channel_play{
    margin: 20px;
    display: inline-block;
    height: 350px;
    width: 350px;
    min-height: 100px;
    min-width: 100px;
    background-color: #2d302e;
    border: 0 solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px #a1131b, inset 0px 0px 9px 2px #a1171a;
}
.container_channel_play:hover{
    transform: scale(1.3,1.3);
    animation-name: increase;
    animation-duration: 1s;

 }
.container_channel:hover{
    transform: scale(1.3,1.3);
    animation-name: increase;
    animation-duration: 1s;

}
@keyframes increase {
    0% {transform: scale(1,1);}
    100% {transform: scale(1.3,1.3);}
}

.channel_player{
    position: relative;
    padding-bottom:49.25%;
    padding-top:25px;
    border: solid 2px #1f72a1;
    height:0;
    box-shadow: 0px 0px 59px 0px #1f72a1;
    animation-name: channel_anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.channel_player iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
@keyframes channel_anim {
    10%{
        box-shadow: 0px 0px 59px 0px #3811a1;
        border: solid 2px #3811a1;
    }
    20%{
        box-shadow: 0px 0px 59px 0px #239aa1;
        border: solid 2px #239aa1;
    }
    30%{box-shadow: 0px 0px 59px 0px #09a10e;
        border: solid 2px #09a10e;
    }
    40%{box-shadow: 0px 0px 59px 0px #4b4a3d;
        border: solid 2px #4b4a3d;
    }
    50%{box-shadow: 0px 0px 59px 0px #e1db00;
        border: solid 2px #e1db00;
    }
    60%{box-shadow: 0px 0px 59px 0px #e10019;
        border: solid 2px #e10019;
    }
    70%{box-shadow: 0px 0px 59px 0px #6f0013;
        border: solid 2px #6f0013;
    }
    80%{box-shadow: 0px 0px 59px 0px #900097;
        border: solid 2px #900097;
    }
    90%{box-shadow: 0px 0px 59px 0px #929297;
        border: solid 2px #929297;
    }
    100%{box-shadow: 0px 0px 59px 0px #2d302e;
        border: solid 2px #2d302e;
    }
}

.btn_channel{
    margin-left: 50px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background: radial-gradient(#6c6ce1 20%, #0000004a 114%);
    box-shadow: 0px 0px 4px 3px rgba(161,152,154,0.34), inset 0px 0px 12px 1px rgb(0, 0, 0);
    transition: background 3s;
}
.btn_channel_switch{
    margin-top: 3px;
    width: 27px;
    height: 35px;
    background: rgba(140,185,252,1);
    border: solid 3px rgba(134,138,141,1);
    border-radius: 9px;
    position: absolute;
}

.baner_exit{
    background: #ff0000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 100%;
}

.baner_exit_cross{
    height: 5px;
    background: #ffff;
    margin-top: -4px;
    top: 16px;
    position: relative;
}

@keyframes error {
    0% {left: -45%;}
    100% {left: 30%}
}