.new-post {
    padding: 16px 0;

}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts,.post {
    padding-left: 10px;
    background: #828d85;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px;
    box-shadow: 0px 0px 10px 3px gold;
    text-shadow: none;
    position: inherit;

}
.posts, .info {
    color: #aaa;
    font-style: italic;
}
.success,
.error{
    text-align: center;
}
.error {
    border: 1px solid red;
    background-color: #ff9682;
    color: red;
}
.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.success {
    border: 1px solid green;
    background-color: #c8ff00;
    color: green;
}
html, body{
    height: 100%;
}
body{
    color: #217b38;
    text-shadow: 0px 0px 6px gold;
    background-size: 100%;
    background: linear-gradient(#262626, black 30%) no-repeat fixed;
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50px 50px;
}
.blocLog{
    margin-top: 140px;


}
.blocLog2{
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding-bottom: 10px;
    transform: translate(-50%, -50%);
    background: rgba(78,115,122,0.6);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 10px rgba(78,115,166,0.5);
}
.blocLog_center{

    transform: translate(20%, 10%);
}
.blocLog_center2{
    position: absolute;
    transform: translate(1400px, -88%);
}
.blocChat{
    text-shadow: none;
    padding-right: 100px;
    padding-left: 10px;
    background: rgba(176,207,184,0.37);
    border-radius: 10px;
}
.blocChat_fon{
    padding-top: 10px;
    background-color: rgba(0,83,255,0.2);
}

iframe{
    padding-top: 6px;
    border: 20px #2ab27b;
}
.btnn{
    background:radial-gradient(circle, #2a88bd 2%, rgba(18,88,186,0.57) 68%);
    border-radius: 30%;
    font-size: 60px;
    border: 30px;
    color: rgba(217,216,224,0.89);



}
.text_up{
    color: #000;
    text-shadow: #2a88bd 0px 0px 30px;
}
.movi{
     margin-top: 60px;
     margin-bottom: 70px;
     background-color: black;
     overflow: hidden;
     width: 1020px;
     padding-left: 30px;
     z-index: 3;
     border-radius: 16px;
     position: relative;

     /*box-shadow: 0px 0px 100px 20px #2a88bd;*/

 }
.imgs{
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    height: 621px;
    width: 1745px;
    z-index: 2;
    right: -889px;
    top: 1px;

}



